# C++
*.d
*.o
*.obj
*.lo
*.slo
*.gch
*.pch

*.so
*.dylib
*.dll
*.a
*.lib
*.lai
*.la

*.exe
*.out
*.app

*.pdb
*.ilk
*.idb
*.tlog
*.log


# Visual Studio
.vs/
*.suo
*.user
*.filters
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.recipe
*.vsidx

Debug/
Release/
x64/
x86/


# Java / Maven
*.class

target/
java/target/

dependency-reduced-pom.xml
java/dependency-reduced-pom.xml


# =========================
# IDEs
# =========================
.idea/
*.iml
*.iws
out/
*.sln
*.vcxproj


# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini
